# Ignore all files in the node_modules directory
node_modules

# Ignore all files in the dist directory
dist

# Ignore all files in the coverage directory
coverage

# Ignore all files in the e2e directory
e2e

# Ignore all files in the .git directory
.git

# Ignore all files in the .vscode directory
.vscode

# Ignore all files with .log extension
*.log

# Ignore all files with .swp extension
*.swp

# Ignore all files with .swo extension
*.swo

# Ignore all files with .DS_Store extension
.DS_Store
