<div class="flex flex-col items-center justify-center h-screen">
  <h2 class="text-2xl font-bold mb-4">Target: {{ targetPhoto }}</h2>

  <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)" />

  <button
    (click)="onSnapshotClick()"
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mb-2">
    Take Picture
  </button>

  <button
    routerLink="/gallery"
    class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
    Open Gallery
  </button>
</div>
